<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About InESCP</title>
    <link rel="stylesheet" href="/static/style1.css">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,100&display=swap" rel="stylesheet">

</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="index.html"><img src="/static/img/logo1.png"></a>
        <div class="nav-links" id="navLinks">
            <div  class="close-button">
                <i class="bi bi-x" onclick="hideMenu()"></i>
            </div>          
            <ul>
                <li class="active"><a href="/"><i class="bi bi-house-door-fill"></i>Home</a></li>
                <li><a href="/admin_login">Admin</a>
                    <div class="submenu-1">
                        <ul>
                            <li><a href="/admin_login">Login</a></li>
                            </ul>
                    </div>
                </li>
                <li><a href="/login">Sponser</a>
                    <div class="submenu-1">
                        <ul>
                            <li class="hover-me"><a href="/sponser_registration">Registration</a>
                            </li>
                            <li><a href="/login">Login</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="/login">Influencer</a>
                    <div class="submenu-1">
                        <ul>
                            <li><a href="/influencer_registration">Registration</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </div>
                
                </li>
                
                <li><a href="/about">About This Platform</a>
                </li>
                <li><a href="/contact"><i class="bi bi-telephone-fill"></i>Contact</a>
                </li>
            </ul>
            
        </div>
        <div class="menu">
            <i class="bi bi-list" onclick="showMenu()"></i>
        </div>
        </nav>
        <h1>About Us</h1> 
    </section>
<!---------About us content------->
<section class="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3626.6569065369163!2d83.08436520000001!3d24.635507300000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398ef0a8823d0fc1%3A0xdece2db51c2820f1!2sRajkiya%20Engineering%20College%20Rd%2C%20Churk%2C%20Uttar%20Pradesh%20231206!5e0!3m2!1sen!2sin!4v1708374604952!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </section>
<section class="contact-us">
    <div class="row">
        <div class="contact-col">
            <div>
                <i class="bi bi-house-fill"></i>
                <span>
                    <h5>Police line Road , Rajkiya Engineering Campus</h5>
                    <p>Sonbhadra, Uttar Pradesh</p>
                </span>

            </div>
            <div>
                <i class="bi bi-telephone-fill"></i>
                <span>
                    <h5>+91 9170639649</h5>
                </span>

            </div>
            <div>
                <i class="bi bi-envelope"></i>
                <span>
                    <h5>inescpsonbhadra@easy.com</h5>
                    <p>Email us Your Query</p>
                </span>

            </div>
        </div>
        <div class="contact-col">
        <form action="form-handle.php" method="post">
           <input type="text" name="name" placeholder="Enter Your Name" required>
           <input type="email" name="email" placeholder="Enter email address" required>
           <input type="text" name="interest" placeholder="Write your query" required>
           <textarea rows="4" name="message" placeholder="message" required></textarea>
           <button type="submit" class="btn btn-danger" style="color: rgb(222, 233, 227);">Send message</button>
        </form>


        </div>
    </div> 
</section>
    <!----------Footer------>
    <section class="footer">
        <h4>About Us</h4>
        <p>Influencer Engagement and Sponsorship Coordination Platform</p>
        <div class="icons">
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-facebook"></i> 
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
        </div>
        
    
    </section>
</body>
</html>
