<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IESCP - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,100&display=swap" rel="stylesheet">

</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="/static/img/logo1.png"></a>
        <div class="nav-links" id="navLinks">
            <div  class="close-button">
                <i class="bi bi-x" onclick="hideMenu()"></i>
            </div>          
            <ul>
                <li class="active"><a href="/"><i class="bi bi-house-door-fill"></i>Home</a></li>
                <li><a href="/admin_login">Admin</a>
                    <div class="submenu-1">
                        <ul>
                            <li><a href="/admin_login">Login</a></li>
                            </ul>
                    </div>
                </li>
                <li><a href="/login">Sponser</a>
                    <div class="submenu-1">
                        <ul>
                            <li class="hover-me"><a href="/sponser_registration">Registration</a>
                            </li>
                            <li><a href="/login">Login</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="/login">Influencer</a>
                    <div class="submenu-1">
                        <ul>
                            <li><a href="/influencer_registration">Registration</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </div>
                
                </li>
                
                <li><a href="/about">About This Platform</a>
                </li>
                <li><a href="/contact"><i class="bi bi-telephone-fill"></i>Contact</a>
                </li>
            </ul>
            
        </div>
        <div class="menu">
            <i class="bi bi-list" onclick="showMenu()"></i>
        </div>
        </nav>
        <div class="text-box">
            <h1>Welcome to Influencer engangement and Sponsorship Coordination Platform</h1>
            <p>
                InESCP is a platform designed to facilitate connections between Sponsors and Influencers. 
                Sponsors can create campaigns to advertise their products/services, while Influencers can 
                benefit financially by promoting these campaigns on their social media channels.
            </p>
            <a href="/about"class="hero-btn">Visit Us to Know More></a>

        </div>

    </section>
    <!-- <div class="container text-center mt-5">
        <h1 class="display-4">Welcome to Influencer engangement and Sponsorship Coordination Platform</h1>
        <p class="lead">Connecting Sponsors and Influencers for successful partnerships.</p>
        <a href="/login" class="btn btn-primary btn-lg">Get Started</a>
    </div>

    <div id="about" class="container mt-5">
        <h2>About InESCP</h2>
        <p>
            InESCP is a platform designed to facilitate connections between Sponsors and Influencers. 
            Sponsors can create campaigns to advertise their products/services, while Influencers can 
            benefit financially by promoting these campaigns on their social media channels.
        </p>
    </div>
    <br><br>
    <footer class="bg-light text-center py-3 mt-5">
        <p>&copy; 2024 IESCP. All rights reserved.</p>
    </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
